[submodule "dependency/rocket-chip"]
	path = dependency/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip
[submodule "dependency/api-config-chipsalliance"]
	path = dependency/api-config-chipsalliance
	url = https://github.com/chipsalliance/api-config-chipsalliance
[submodule "dependency/berkeley-hardfloat"]
	path = dependency/berkeley-hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat
